280NPLIST;1.0;D;K;23;Main cib file base nameS;12;MainMenu.cibK;12;CPBundleNameS;28;Set-an-Icon-for-About-WindowK;15;CPBundleVersionS;3;1.0K;24;CPHumanReadableCopyrightS;55;Copyright © 2018, Army of Me, Inc. All rights reserved.K;29;CPBundleInfoDictionaryVersiond;1;6K;18;CPBundleIdentifierS;34;com.yourcompany.IconForAboutWindowK;19;CPBundlePackageTypeS;4;APPLK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;31;Set-an-Icon-for-About-Window.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;